<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
      <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
       <nav class="navbar">
        <div class="navbar-brand">
            <i class="fas fa-terminal"></i> <!-- Terminal icon -->
            <a href="/"><b>SHELL EXPLAINER</b></a>
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    </header>
    
    <main>
        <section><br>
            <h1>About Us</h1>
            <p>Welcome to our shell command explanation tool! This website helps users understand various shell commands and their arguments in an intuitive way.</p><br><br>
            <h2>Features</h2>
            <p>
                Detailed explanations for common shell commands.<br>
                Easy-to-use interface for finding out what each command and argument does.<br>
                Search functionality to quickly find specific commands or options.<br>
                Regular updates to include new commands and features.<br>
            </p><br><br>
            <h2>How It Works</h2>
            <p>Simply enter a shell command into the provided input field, and the website will display a clear explanation of its purpose and usage with argument.</p><br><br>
            <h2>Contact Us</h2>
            <p>If you have any questions, feedback, or suggestions, please <a href="http://127.0.0.1:5000/contact">contact us</a>.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Shell Command Explainer. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Designed  by <b>M R Gagan</b></p>
		
</footer>
</body>
</html>
