<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - View Messages</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
        <div class="navbar-brand">
            <i class="fas fa-terminal"></i> <!-- Terminal icon -->
            <a href="/"><b>SHELL EXPLAINER</b></a>
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
           
        </ul>
    </nav>
    </header>

    <main>
	<BR>
		<h5>ADMIN DASHBOARD</h5>
        <h1>Received Messages</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message[0] }}</td>
                    <td>{{ message[1] }}</td>
                    <td>{{ message[2] }}</td>
                    <td>{{ message[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Shell Command Explainer. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Designed by <b>M R Gagan</b></p>
   
	 </footer>
</body>
</html>


